server:
  port: 18080

spring:
  application:
    name: bot
  profiles:
    default: dev
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 50MB
  threads:
    virtual:
      enabled: true
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DATABASE}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  sql:
    init:
      mode: always
  jpa:
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      database: 0

iris:
  websocket-url: ws://${IRIS_HOST}:${IRIS_PORT}/ws
  rest-url: http://${IRIS_HOST}:${IRIS_PORT}
  url: ${IRIS_HOST}:${IRIS_PORT}

kakaolink:
  app-key: ${KAKAOLINK_APP_KEY:none}
  origin: ${KAKAOLINK_ORIGIN:none}

bot:
  name: ${BOT_NAME}
  command-prefix: ${BOT_COMMAND_PREFIX}
  admin-password: ${ADMIN_PASSWORD}

